.custom-select__control {
  border: none !important;
  border-bottom: 2px solid #333 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  min-height: 52px !important;
}

.custom-select__control--is-focused {
  border-bottom: 2px solid #e91662 !important;
}

.custom-select__value-container {
  padding: 0 !important;
}

.custom-select__single-value,
.custom-select__placeholder {
  font-size: 24px !important;
}

.custom-select__indicator-separator {
  display: none !important;
}